<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/f574488d1dc1220246c35a0b52a2a052.png">
    <meta charset="UTF-8">
    <title>TheMoon</title>
</head>
<body>
<div class='wrapper'>
    <header>
        <div class='container'>
            <form action="" method="POST">
                <button class="btn btn-primary" align='center' type="submit" name='LoginButton' value='Login'
                        style="position: absolute; left: 25px; top: 50px;" method='post'>Авторизация через Discord
                </button>
            </form>
            <h1 align="center" style="font-size: 35px;">TheMoon</h1>
        </div>
    </header>
    <div class='work_area container'>
        <div class='main_info'>
            <h1 class='whos'>Кто такой TheMoon?</h1>
            <div class='TheMoon' style="margin-bottom:80px">
                <img src="/static/f574488d1dc1220246c35a0b52a2a052.png" alt="Image Not Found">
                <p class="p_main_info" style="margin-bottom:0px">
                    TheMoon - сильный инструмент для модерирования вашего Discord сервера
                <form action="" method="POST" style="margin-bottom: 10px">
                    <button align='center' type="submit" name='LoginButton' value='Login' method='post'>Добавить
                        бота на
                        сервер
                    </button>
                </form>
                </p>
            </div>
            <div class='commands'>
                <br>
                <h4 style="margin-left: 35px; margin-top:0px">Команды делятся на несколько категорий</h4>
                <nav>
                    <ul>
                        <li>Модераторские команды, необходимые для поддержания порядка на вашем сервере
                            <ul>
                                <li>/ban - банит пользователя на сервере</li>
                                <li>/unban - разбанивает пользователя на сервере</li>
                                <li>/kick - выгоняет пользователя с сервера</li>
                                <li>/clear - очищает чат</li>
                                <li>/timeout - запрещает пользователю исполдьзовать чат на установленно количество
                                    времени
                                </li>
                                <li>/create_role - создаёт роль на сервере</li>
                                <li>/delete_role - удаляет роль на сервере</li>
                                <li>/give_role - выдаёт роль пользователю</li>
                                <li>/auditlog - создаёт журнал аудита в установленном канале</li>
                            </ul>
                        </li>
                        <li>Информационные команды, помогающие получить доступную информацию
                            <ul>
                                <li>/help - предоставляет пользователю полный список команд</li>
                                <li>/info - позволяет получить доступную информацию о пользователе</li>
                                <li>/serverinfo - предоставляет информацию о сервере</li>
                                <li>/avatar - даёт возможность скачать аватар пользователя</li>
                                <li>/currency - отправляет в чат стоимость Доллара/Евро в рублях</li>
                                <li>/stickers - позволяет скачать стикер существующий на сервере</li>
                            </ul>
                        </li>
                        <li>Экономические команды, с помощью которых можно создать собственный рынок на вашем сервере
                            <ul>
                                <li>/award - выдаёт пользователю ежедневную награду в виде валюты Бота</li>
                                <li>/balance - позволяет ознакомиться с балансом пользователя</li>
                                <li>/shop - выводит список ролей, доступных для покупки</li>
                                <li>/add_shop - позволяет выставить на продажу в магазин роль пользователя</li>
                                <li>/buy - позволяет купить роль, выставленную в магазине</li>
                                <li>/remove_shop - позволяет убрать из магазина роль, выставленную вами на продажу</li>
                                <li>/pay - позволяет перевести деньги напрямую другому пользователю</li>
                            </ul>
                        </li>
                        <li>Команды для работы с приватными голосовыми каналами
                            <ul>
                                <li>/vset - создаёт каналы для работы с приватными голосовыми каналами. Дальшнейшее
                                    управление реализуется с помощью кнопок
                                </li>
                            </ul>
                        </li>
                        <li>Команды для создания системы тикетов на вашем сервере
                            <ul>
                                <li>/tset - создаёт каналы для работы с тикетами. Дальшнейшее управление реализуется с
                                    помощью кнопок
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>

